<html>
  <head>
    <title> Hello EJS+! </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </link>
    <style type="css">
      .link {
         cursor: pointer; 
      }
    </style>
  </head>
  <body class="container">
